.Liquidity-box {
    display: grid;
    grid-auto-row: auto;
    grid-gap: 2px;
    gap: 2px;
    background: #bab8ba;
    border-radius: 20px;

}


.liquidity-header-container {
	    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 1.25rem 0.5rem;
    justify-content: space-between;
    align-items: center;

}

.liquidity-header {
	font-size: 22px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.liquidity-header-button { 
color: black;
    display: flex;
    padding: 0.4rem 1rem;
    background: #a6a4a6;
    border-radius: 10px;
    border: 1px solid #717884;
    transition: 0.2s;
}

.liquidity-header-button:hover {
	color: white;
}

.liquidity-input-container {
	display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;
}

.liquidity-amount-input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(166, 164, 166);
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
    align-items: center;
}

.liquidity-amount-input {
	background: none;
    outline: none;
    border: none;
    font-size: 30px;
    width: 200px;
    font-weight: 500;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 99%;
}

.liquidity-token-select {
	display: flex;
    flex-direction: row;
    align-items: center;
    background: #999799;
    border-radius: 20px;
    color: black;
    padding: 6px;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #717884;
    transition: 0.2s;
}

.liquidity-token-select:hover {
	color: white;
}

.liquidity-token-select-icon {
	    height: auto;
    width: 26px;
}

.liquidity-token-select-content {
	    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.liquidity-token-down-arrow {
    height: auto;
    width: 20px;
}

.liquidity-token-select-name {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 10px;
}

.liquidity-output-container {
	display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;
    padding-bottom: 14px;
}

.liquidity-output-box {
	    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(166, 164, 166);
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
    align-items: center;
}

.liquidity-amount-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between!important;
width: 100%;
}

.liquidity-amount {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.liquidity-cen {
font-size: 20px;
font-weight: 500;
}

.liquidity-arrow-down-container {
	padding: 2px;
    border-radius: 12px;
    height: 32px;
    width: 32px;
    position: relative;
    margin-top: -14px;
    margin-bottom: -14px;
    left: calc(50% - 16px);
    background-color: rgb(166, 164, 166);
    border: 4px solid #bab8ba;
    z-index: 3;
}

.liquidity-arrow-down {
	height: 20px;
    width: 20px;
}


.liquidity-add-container {
	    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;
    padding-bottom: 18px;
}

.liquidity-add-container {
}

.liquidity-add {
	background: rgb(33, 114, 229);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    display: flex;
    border: none;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: transform 450ms ease 0s;
    transform: perspective(1px) translateZ(0px);
    transition: .2s;
}

.liquidity-add:hover {
transition: .2s;
    color: white;
    box-shadow: 0px 0px 20px 1px rgb(33, 114, 229);
}

.liquidity-token-select-button {
	display: flex;
    flex-direction: row;
    align-items: center;
    background: #999799;
    border-radius: 20px;
    color: black;
    padding: 6px;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #717884;
    transition: 0.2s;
}


.liquidity-token-select-content-container {
	    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.liquidity-token-name {
   font-size: 18px;
    padding-left: 8px;
    padding-right: 10px;
}

.liquidity-data-container {
	padding-top: 10px;
}

.liquidity-data-box {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	display: flex;
    background: #bab8ba;
    border-radius: 20px;
        padding: 1rem 1.25rem 0.5rem;
}

.Cen-data {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.XTZ-data {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Pool-share {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.liquidity-data-header {
 font-size: 14px;
 font-weight: 500;
}

.liquidity-data {
	padding-top: 6px;
	font-size: 16px;
	font-weight: 600;
}
