.dashboard-container {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .dashboard-container {
    width: 100%
  }
}

@media screen and (max-width: 784px) {
  .dashboard-container {
  }
}


@media screen and (max-width: 600px) {
.dashboard-container {
    width: 100%;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
  }
}

.dashboard {
  width: 100%;
  display:grid;
  gap: 14px;
  grid-template-columns: repeat(4, 1fr);
}


.dashboard-top-container {
  display: flex;
  width: 100%;   
  margin-top: 48px!important;
  padding-left: 24px!important;
  padding-right: 24px!important;
  margin-left: 30px!important;
  margin-right: 30px!important;
}

.dashboard-bottom-container {
 display: flex;
 width: 100%;
 margin-top: 20px!important;
 padding-left: 24px!important;
 padding-right:24px!important;
 margin-left: 30px!important;
 margin-right: 30px!important;
}

.dashboard-left {
 display: flex;
 flex-direction: column;
 width: 100%;
}

.dashboard-middle {
 padding-left: 20px;
 padding-right: 20px;
 width: 100%;
}

.dashboard-bottom-left-container  {
  padding-top: 14px;
}

.Middle-bottom-grid-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 14px;
 grid-auto-rows: 100%;
}


.Middle-bottom-grid-header {

}

.Middle-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  grid-gap: 14px;
}


.Bottom-right-grid-container {
 display: grid;
}

.Bottom-right-top-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 14px;
    gap: 14px;
}

@media screen and (max-width: 1200px) {
.dashboard {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 778px) {
.dashboard {
  grid-template-columns: repeat(1, 1fr);
  }
}
