.dashboard {
  justify-content: left!important;
  width: 100%;
  display:grid;
}

.dashboard-top-container {
  display: flex;
  width: 100%;   
  margin-top: 48px!important;
  padding-left: 24px!important;
  padding-right: 24px!important;
  margin-left: 30px!important;
  margin-right: 30px!important;
}

.dashboard-bottom-container {
 display: flex;
 width: 100%;
 margin-top: 20px!important;
 padding-left: 24px!important;
 padding-right:24px!important;
 margin-left: 30px!important;
 margin-right: 30px!important;
}

.dashboard-left {
 display: flex;
 flex-direction: column;
 width: 100%;
}

.dashboard-middle {
 padding-left: 20px;
 padding-right: 20px;
 width: 100%;
}

.dashboard-bottom-left-container  {
  padding-top: 14px;
}
