.Connect {
	    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 240px 16px 0px;
    align-items: center;
    flex: 1 1;
    z-index: 1;
}

.Connect-loading-animation {
	padding-top: 20px;
}
