.Farms {
    display: flex;
    overflow: hidden;
    position: relative;
    background: #1d263b;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 20px;
    transition: .2s;

}

.farms-header-container {
display: flex;
flex-direction: row;
justify-content: space-between!important;
    align-items: center;
    padding-bottom: 10px;
}

.farms-header {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2.4vh;
}

.farms-header-button {
    color: white;
    display: flex;
    padding: 0.4rem 1rem;
    background: #596178;
    border-radius: 10px;
    border: 1px solid #717884;
    transition: 0.2s;
}

.farm-header-button:hover {
  color: white;
}

.farms-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
    border: 1px solid #596178;
}


.farm-icon {
	height: 34px;
	width: auto;
}

.farms-detail-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.farms-detail-header {
color: white;
    font-size: 17px;
    font-weight: 600;
}

.farms-rewards-harvest-button {
    color: white;
    display: flex;
    padding: 0.4rem 1rem;
    background: rgb(33, 114, 229);
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.farms-rewards-harvest-button-container {
	padding-top: 10px;
}

.farms-plenty-lp {
    color: white;
    display: flex;
    padding: 0.2vw 1vh;
    background: rgb(33, 114, 229);
    border-radius: 10px;
    transition: 0.2s;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}

.farms-pool-detail-icon-container {
	display:flex;
	justify-content: right;
	padding-top: 6px;
}

.farms-rewards-price-container {
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.farms-rewards-price {
	font-weight: 600;
}

.farms-analytics-header-container {

}

.farms-analytics-header {
    color: #c3bec2;
    font-size: 1.8vh;
    font-weight: 500;
    padding-bottom: 8px;
}

.farms-analytics-amount-container {
display: flex;
    flex-direction: row;
    align-items: center;
}

.farms-available-rewards {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 4vh;
    color: #fff;
    font-weight: 600;
}

.farms-available-rewards-xtz {
	    font-size: 2vh;
    color: #596178;
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 10px;
}

.farms-box-container {
padding-top: 40px;
}
