.Farms {
    display: flex;
    overflow: hidden;
    position: relative;
    background: #bab8ba;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 20px;
    transition: .2s;

}

.farms-header-container {
display: flex;
flex-direction: row;
justify-content: space-between!important;
    align-items: center;
}

.farms-header {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2.4vh;
}

.farms-header-button {
    color: black;
    display: flex;
    padding: 0.4rem 1rem;
    background: #a6a4a6;
    border-radius: 10px;
    border: 1px solid #717884;
    transition: 0.2s;
}

.farm-header-button:hover {
  color: white;
}

.farms-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: none;
    padding: 1.4rem;
    width: 100%;
    height: 100%;
}

