.Token-template-container {
  overflow-y:scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
  height: 104px
}

.Token-template-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.token-information-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between!important;
}
.token-name {
color: #B7B6C1;
font-size:2vh;
font-weight: 500;
padding-left: 6px;
}
.token-balance {
color: white;
font-size: 2vh;
font-weight: 600;
padding-left: 4px;
}

.token-divider {
	border: 1.4px solid #1d1e21;
  border-radius: 5px;
}


.token-container {
 padding-top: 4px;
 padding-bottom: 4px;
}


.token-icon {
  height: auto;
  width: 24px;
}

.token-icon-name-container {
 display: flex;
 flex-direction: row
}
