.Transaction {
 display: flex;
 flex-direction: column;
 height: 40vh;
  
}

.Transaction-box {
height: 400px;
overflow-y: scroll;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.Transaction-box::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.transaction-template-container {
padding-top: 10px; 
}

.transactions-template {
  display: flex;
  flex-directions: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.6rem;
  background: #a6a4a6;
  border-radius: 20px;
  border: 1px solid #717884; 
  transition: 0.2s;
}

.transactions-template:hover {
 border: 1px solid #717884;
 transition: 0.2s;
}

.transaction-account-container {
display: flex;
flex-direction: row;
align-items: center;
}

.transaction-account-name {
color: black;
font-size:  2vh;
padding-left: 8px;
padding-right: 8px;
}

.transaction-amount {
  color: white;
  font-size: 1.6vh;
  font-weight: 600;
}

.transaction-amount-in {
  color: white;
  font-size: 1.4vh;
}

.transaction-account-picture {
  height: auto;
  width: 3.2vh;
  border-radius: 20px;
}
