.send {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:200px 16px 0px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .send {
    padding: 70px 16px 0px;
  }
}

.send-contact-popup-container {

}

.send-container {
position: relative;
}
 
.send-box {
  display: grid;
  grid-auto-row: auto;
  gap: 2px;
  background:#1d263b;
  border-radius: 20px;
}

.send-header {
  font-size:  22px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI'', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.settings-header-icon {
 height: auto;
 width: 2.4vh;
}
 
.send-header-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1rem 1.25rem 0.5rem;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: center;
}

.settings-header-icon-button {
	color: white;
    display: flex;
    padding: 0.4rem 1rem;
    background: #596178;
    border-radius: 10px;
    border: 1px solid #717884;
    transition: 0.2s;
}
.settings-header-icon-button:hover {
	color:white;
}

.send-input-container {
 display: flex;
 flex-flow: column nowrap;
 position: relative;
 padding-left:18px;
 padding-right:18px;
 z-index: 2;
}

.send-amount-input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(23, 31, 48);
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  align-items: center;
}

.send-amount-input {
  background: none;
  outline: none;
  border: none;
  font-size: 30px; 
  width: 200px;
  font-weight: 500;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 99%;
}


.send-contact-button-container {

}

.send-contact-button {

}

.send-account-container {
 padding-right: 10px;
 padding-left: 10px;
}


.send-account-picture {
	height: auto;
	width: 4vh;
	border-radius: 20px;
}

.send-account-name {
}

k
.send-token-select-container {
	width: 31%;
}

.send-token-select-button {
	color: white;
    display: flex;
    background: #596178;
    border: 1px solid #717884;
    transition: 0.2s;
 flex-direction: row;
 align-items: center;
 border-radius: 20px;
 padding: 6px;
 justify-content: space-between;
 width: 100%;
 transition: 0.2s;
}

.send-token-select-button:hover {
  transition: 0.2s;
  color: white;
}


.send-token-select-content-container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
 
.send-token-select-icon {
  height: auto;
  width: 26px;
}

.send-token-down-arrow {
	height: auto;
	width: 20px;
}

.send-token-select-name {
  font-size: 18px;
  padding-left:8px;
  padding-right:10px;
}


.send-contact-button-container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 14px;
    z-index: 2;
}

.send-contact-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(23, 31, 48);
    padding: 0.4rem;
    border-radius: 20px;
    width: 100%;
    align-items: center;
    outline: none;
    border: none;
    height: 68px;
    cursor: pointer;
}

.send-arrow-down-container {
	    padding: 2px;
    border-radius: 12px;
    height: 32px;
    width: 32px;
    position: relative;
    margin-top: -14px;
    margin-bottom: -14px;
    left: calc(50% - 16px);
    background-color: rgb(23, 31, 48);
    border: 4px solid #1d263b;
    z-index: 3;
}

.send-arrow-down {
 height: 20px;
 width: 20px;
}

.send-button-container {
display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 2;
    padding-bottom: 18px;
}

.send-button {
    background: rgb(33, 114, 229);
    color: white;
    font-size: 18px;
    font-weight: 500;
        padding: 16px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    display: flex;
    border: none;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: transform 450ms ease 0s;
    transform: perspective(1px) translateZ(0px);
    transition: .2s;
}

.send-button:hover {
    transition: .2s;
    color: white;
    box-shadow: 0px 0px 20px 1px rgb(33, 114, 229);
}

.send-account-name {
	    font-size: 14px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.Popup-container {
	z-index: 100;
}


