.Assets {
display: flex;
    overflow: hidden;
    position: relative;
    background: #1d263b;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 20px;
    transition: .2s;
}
.assets-header-container {
display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center;
    padding-bottom: 1.6vh;

}
.assets-header  {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2.4vh;
}

.assets-total-container {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.assets-total {
	    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    color: white;
    font-weight: 600;
}

.assets-usd {
	    color: white;
    font-size: 1.8vh;
    font-weight: 500;
    padding-bottom: 20px;
}

.assets-total-header {
	    color: #c3bec2;
    font-size: 1.8vh;
    font-weight: 500;
    padding-bottom: 8px;
}

.assets-total-xtz {
    font-size: 2vh;
    color: #596178;
    font-weight: 600;
    padding-left: 8px;
}

.assets-total-price-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.assets-tokens-container  {
	    width: 100%;
    display: grid;
    grid-gap: 8px;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.XTZ-assets {
	    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
    border: 1px solid #717884;
    height: 134px;
}

.farm-assets {
	    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
    border: 1px solid #717884;
    height: 134px;

}

.tokens-assets {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
    border: 1px solid #717884;
    height: 134px;
}

.XTZ-assets-header {
	color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.farm-assets-header {
	color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.tokens-assets-header {
	color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
