* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  
}

.App {
    display: flex;
    justify-content: flex-start;
}

body {
  background: #17181c;
}


.gradient {
  max-height: 0 auto;
  background: #d4d4d4;
  height: 100vh;
  width: 100vw;

  animation: fadeIn 1s;
  opacity: 1;


}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
  opacity: 1;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: 0;
    top: 34%;





}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(80% 30% ellipse at center top, #261226 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(80% 40% ellipse at center bottom, #261226 0%, #100a1c 100%);

}



.gradient__logo  {
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 4px;



}


.gradient__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 4px;
}

.gradient__text {
  color: #000;


  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 4px;
  transition:.5s;
}


.gradient__text:after {
  content: '\002E';
  color: #cbfe03;
  transition:.5s;

}

.gradient__text_small p {
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.5s ease;


}



.gradient__text:hover {


  background: linear-gradient(to right, #000 0%, #000 20%, #000 40%,  #cbfe03 60%, #cbfe03 80%, #000 90%, #000 100%);
  background-size: 200% auto;
  
  
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
  animation: shine 1.8s linear infinite;
  transition:.5s;

  



}



@keyframes shine {
  to {
      background-position: 200% center;
  }
}


.gradient__button {
 

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;

  transition:.5s;
    
}


.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .content {
    justify-content: center;
  }
}

@media screen and (max-width: 428px) {
  .content {
    justify-content:unset!important ;
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}
